@import url(./Styles/header.css);
@import url(./Styles/footer.css);
@import url(./Styles/blog.css);
@import url(./Styles/blogposts.css);
@import url(./Styles/bloghome.css);

/* header font */
@import url('https://fonts.googleapis.com/css2?family=Shizuru&display=swap');

/* body font */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');


body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #D5DFE5;
}

a {
    text-decoration: none;
}

a:hover {
    color: #416788;
}

a:visited { 
    color: #6A2E35;
}

h1, 
h2,
h3 {
    font-family: 'Shizuru', cursive;
    color: #6A2E35;
}

.wrapper {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr 6fr 0.5fr;
    grid-template-areas: 
    "hd hd hd hd hd hd hd hd"
    "main main main main main sd sd sd"
    "ft ft ft ft ft ft ft ft";
}

.main {
    grid-area: main;
}

aside {
    grid-area: sd;
}

footer{
    grid-area: ft;
}

.wrapper h2,
.wrapper div,
.wrapper ul {
    padding: 5px 10px 0 20px;
}

.wrapper li {
    list-style-type: none;
}

@media (max-width:630px ){
   
    .wrapper{
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: 1fr 6fr 4fr 0.5fr;
        grid-template-areas: 
        "hd hd hd hd hd hd hd hd"
        "main main main main main main main main"
        "sd sd sd sd sd sd sd sd"
        "ft ft ft ft ft ft ft ft";
    }
    
}


/* colour palette
queen blue #416788
max yellow red #F6BD60
wine #6A2E35
sizzling red #EF5D60
gainsboro #D5DFE5 */