@import url(/Styles/header.css);
@import url(/Styles/footer.css);
@import url(/Styles/blog.css);
@import url(/Styles/blogposts.css);

/* header font */
@import url('https://fonts.googleapis.com/css2?family=Shizuru&display=swap');

/* body font */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');


body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #D5DFE5;
}

a {
    text-decoration: none;
}

a:hover {
    color: #416788;
}

a:visited { 
    color: #6A2E35;
}

h1, 
h2,
h3 {
    font-family: 'Shizuru', cursive;
    color: #6A2E35;
}

.wrapper {
    display: flex;
    height: 80vh;
}

.main {
    flex: 3;
}

aside {
    flex: 1;
}

.wrapper h2,
.wrapper div,
.wrapper ul {
    padding: 5px 10px 0 20px;
}

.wrapper li {
    list-style-type: none;
}

.blogPosts {
    background-color: rgba(65, 103, 136, 0.2);
    
}

.blogPosts p {
    padding: 10px;
}


/* media queries */
@media (max-width:800px ){
   
    .wrapper {
        display: flex;
    }

    .main {
        flex: 2;
    }

    aside {
        flex: 2;
    }
    
}

@media (max-width:550px ){
   
    .wrapper {
        display: inline;
    }
    
}


/* colour palette
queen blue #416788
max yellow red #F6BD60
wine #6A2E35
sizzling red #EF5D60
gainsboro #D5DFE5 */