
.blogPostCard{
    background-color: rgba(65, 103, 136, 0.2);
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding-bottom: 0;
}

.bi-line{
    margin: 20px 0 20px 0;
}

#blogHomeWrapper{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr 6fr 0.5fr;
    grid-template-areas: 
    "hd hd hd hd hd hd hd hd"
    "main main main main main main main main"
    "ft ft ft ft ft ft ft ft";
}

.blogHeader,
.homeBlogHeader{
    padding-left: 0;
    margin-bottom: 0.5em;
}
